<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/reservation-success.css">
  <title>Studio Reservation</title>
</head>
<body>
<div id="default">
  <div id="container">
    <div class="contents">
      <div class="title">
        <a href="/home" id="home">Goo's Reservation</a>
        <div class="member-wrap">
          <div class="is-login" sec:authorize="hasRole('USER')">
            <a href="/my" sec:authentication="principal.nickname"></a>
            <p>고객님</p>
            <span> | </span>
            <a href="/logout">로그아웃</a>
          </div>
        </div>
      </div>
      <p class="date">예약 신청이 완료되었습니다.</p>
      <div class="info-wrap">
        <div class="info-title">
          <div class="studioName" th:text="${info.studioName}"></div>
        </div>
        <div class="reservation-info">
          <div class="status">
            <p>상태</p>
            <div class="status-value" th:text="${info.isAccepted}"></div>
          </div>
          <div class="date-info">
            <p>일정</p>
            <div class="date">
              <div class="year" th:text="${info.year + '년'}"></div>
              <div class="month" th:text="${info.month + '월'}"></div>
              <div class="day" th:text="${info.day + '일'}"></div>
              <div class="week" th:text="${'(' + info.week + ')'}"></div>
              <div class="hour" th:text="${info.hour + '시'}"></div>
            </div>
          </div>
          <div class="time">
            <p>시간</p>
            <div class="reserved-at" th:text="${'총 ' + info.time + '시간'}"></div>
          </div>
          <div class="user-name">
            <p>성명</p>
            <div class="name" th:text="${info.userName}"></div>
          </div>
          <div class="user-phone">
            <p>번호</p>
            <div class="phone" th:text="${info.userPhone}"></div>
          </div>
          <div class="owner">
            <p>문의</p>
            <div class="owner-name" th:text="${info.ownerName}"></div>
            <div class="owner-phone" th:text="${info.ownerPhone}"></div>
          </div>
          <div class="location">
            <p>위치</p>
            <div class="address1" th:text="${info.address1}"></div>
            <div class="address2" th:text="${info.address2}"></div>
          </div>
        </div>
      </div>
      <p class="intro">
        이후 예약 내역은 <a href="/my">마이페이지</a>에서 확인 가능합니다.
      </p>
      <div class="move">
        <a href="/home">홈으로</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>