@import "default2.css";

.intro {
    font-size: 20px;
    margin: 10px;
}

form {
    padding: 10px;
}

.input-box {
    position: relative;
    margin: 10px 10px;
}

label {
    position: absolute;
    left: 5px;
    top: 20px;
    font-size: 12pt;
    color: #aaa;
}

label:hover {
    cursor: text;
}

.input-box > input,
textarea {
    margin-top: 10px;
    border: none;
    border-bottom: solid 1px #ccc;
    padding-top: 13px;
    font-size: 14pt;
    width: 100%;
}

textarea {
    resize: none;
    outline: none;
}

.explain {
    margin-left: 13px;
    color: darkslategray;
    font-size: 7pt;
}

p > a {
    color: black;
    border-bottom: 0.2px solid #606060;
}

textarea:focus + label {
    position: absolute;
    font-size: 10px;
    left: 4px;
    top: 13px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

input:focus + label {
    position: absolute;
    font-size: 10px;
    left: 4px;
    top: 13px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

input:focus,
textarea:focus {
    outline: none;
    border-bottom: solid 1px darkslategray;
    transition-duration: 0.7s;
}

input:not(:placeholder-shown) + label {
    position: absolute;
    font-size: 10px;
    left: 4px;
    top: 13px;
}

textarea:not(:placeholder-shown) + label {
    position: absolute;
    font-size: 10px;
    left: 4px;
    top: 13px;
}

#time {
    display: flex;
}

.example {
    margin-top: 4px;
    margin-left: 10px;
    color: darkslategray;
    font-size: 7pt;
}

.submit-button,
.submit-button-driver {
    font-family: "GmarketSansMedium", sans-serif;
    letter-spacing: 1px;
    display: block;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    width: 80%;
    margin: 30px auto auto;
    background-color: #3e8ede;
}

.submit-button {
    background-color: #3e8ede;
}

.submit-button:hover {
    background-color: #3272b2;
}

.submit-button-driver {
    background-color: #d96161;
}

.submit-button-driver:hover {
    background-color: #b45151;
}