@import url(default.css);

body {
    padding-top: 90px;
    justify-content: unset;
}

.title {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: #3e8ede;
    z-index: 20;
}

#driver-title {
    background-color: #d96161;
}

#home {
    text-decoration: none;
    font-family: "BMDOHYEON", sans-serif;
    font-size: 30px;
}

.title a {
    color: white;
}

.member-wrap {
    font-size: 16px;
}

.is-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.is-login p {
    color: beige;
    padding-top: 3px;
    font-size: 9pt;
}

.member-wrap a:hover {
    border-bottom: 1px solid white;
}

.member-wrap span {
    color: #cbcaca;
    margin: 8px;
}