@import "default2.css";

.alert {
    font-size: 12px;
    color: #cd5c5c;
    margin: 12px;
}

.intro {
    font-size: 20px;
    margin: 10px;
}

.info-details {
    padding: 10px;
}

.input-box {
    position: relative;
    margin: 10px 10px;
}

label:hover {
    cursor: text;
}

.input-box > input,
textarea {
    margin-top: 10px;
    border: none;
    border-bottom: solid 1px #ccc;
    padding-top: 13px;
    font-size: 14pt;
    width: 100%;
    outline: none;
}

textarea {
    resize: none;
    outline: none;
}

.explain {
    margin-left: 13px;
    color: darkslategray;
    font-size: 7pt;
}

label {
    position: absolute;
    font-size: 10px;
    left: 4px;
    top: 13px;
}

#explain_label {
    position: absolute;
    font-size: 10px;
    left: 4px;
    top: 13px;
}

#time {
    display: flex;
}

.example {
    margin-top: 4px;
    margin-left: 10px;
    color: darkslategray;
    font-size: 7pt;
}

.move {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.move a, button {
    margin: 0 20px;
    color: darkslategray;
    font-size: 12pt;
}

.move button {
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 13pt;
    color: darkred;
}

.move a:hover {
    border-bottom: 1px solid darkslategray;
}

.move button:hover {
    border-bottom: 1px solid darkred;
}