@import "default.css";

.title {
    font-family: "BMDOHYEON", sans-serif;
    font-size: 30px;
    padding: 5px;
    margin: 10px 0 4px;
}

.title {
    font-family: "BMDOHYEON", sans-serif;
    font-size: 30px;
    padding: 5px;
    margin: 10px 0 4px;
}

.select-site {
    position: relative;
    justify-content: center;
    align-items: center;
}

.site-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-wrap > a {
    margin: 20px;
    padding: 30px;
    border-radius: 40px;
    color: white;
}

#user {
    background-color: #3e8ede;
}

#owner {
    background-color: #d96161;
}