<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8"/>
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  />
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <link rel="stylesheet" href="/info.css"/>
  <title>Driver Taxi</title>
</head>
<body>
<div id="default">
  <div id="container">
    <div class="contents">
      <div class="title" id="driver-title">
        <a href="/driver/home" id="home">Goo's Reservation</a>
        <div class="member-wrap">
          <div class="is-login" sec:authorize="hasRole('DRIVER')">
            <a href="/driver/my" sec:authentication="name"></a>
            <p>기사님</p>
            <span> | </span>
            <a href="/driver/logout">로그아웃</a>
          </div>
          <div class="is-logout" sec:authorize="hasRole('USER') or isAnonymous()">
            <a href="/driver/join">회원가입</a>
            <span> | </span>
            <a href="/driver/login">로그인</a>
          </div>
        </div>
      </div>
      <p class="intro">택시를 성공적으로 등록했습니다.</p>
      <div class="taxi-details">
        <div class="text-filed">
          <div class="input-box">
            <input id="CarType" type="text" name="CarType" th:value="${taxiInfo.carType}" readonly
            />
            <label for="CarType" class="label">자동차모델명</label>
          </div>
        </div>
        <div class="text-filed" id="time">
          <div class="input-box">
            <input id="open" type="text" name="open" th:value="${taxiInfo.open}" readonly/>
            <label for="open" class="label">운행오픈시간</label>
          </div>
          <div class="input-box">
            <input id="close" type="text" name="close" th:value="${taxiInfo.close}" readonly/>
            <label for="close" class="label">운행마감시간</label>
          </div>
        </div>
        <div class="text-filed">
          <div class="input-box">
            <textarea id="oneLineExplain" name="oneLineExplain" cols="30" rows="1" th:text="${taxiInfo.oneLineExplain}"></textarea>
            <label for="oneLineExplain" class="label">한줄소개</label>
          </div>
        </div>
        <div class="move">
          <a href="/user/home">홈으로</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>